*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}

.banner__video {
    width: 100%;
    opacity: 0.9;
    filter: brightness(0.8);
}

.banner > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.banner__video--title {
    font-size: 0.8rem;
}

.banner__video--text{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.cards__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.cards__title{
    color: grey;
    margin-top: 2rem;
}

.cards{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    gap: 0.5rem;
}


.card__one {
    width: 400px ;
    max-width: 400px;
    height: 225px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__one:hover {
    transform: rotateY(180deg);
}
 
.card__one > div {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    padding: 4rem;
    backface-visibility: hidden; 
} 

.card__one--front {
    display: flex;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
    background-image: url("./fotos-video/sevilla.jpg") ;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    justify-content: center;
    transform: rotateY(0deg);
    
} 

.card__one--back {
    display: flex;
    flex-direction: column;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
    background-color: #313131;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    transform: rotateY(180deg);
}

.card__two {
    width: 400px ;
    height: 225px;
    max-width: 400px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__two:hover {
    transform: rotateX(180deg);
}
 
.card__two > div {
    display: flex;
    justify-content: center;
    padding: 4rem;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
} 

.card__two--front {
    display: flex;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
    background-image: url("./fotos-video/amsterdam.jpg") ;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    justify-content: center;
    transform: rotateX(0deg);
    
} 

.card__two--back {
    display: flex;
    flex-direction: column;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
    background-color: #313131;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    transform: rotateX(180deg);
}

.card__three {
    width: 400px ;
    height: 225px;
    max-width: 400px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card__three:hover {
    transform: rotateY(180deg);
}
 
.card__three > div {
    display: flex;
    justify-content: center;
    padding: 4rem;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
} 

.card__three--front {
    display: flex;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
    background-image: url("./fotos-video/italia.jpg") ;
    background-position: center;
    background-size: cover;
    padding: 2rem;
    justify-content: center;
    transform: rotateY(0deg);
    
} 

.card__three--back {
    display: flex;
    flex-direction: column;
    width: 100% ;
    height: 100%;
    border-radius: 15px;
    background-color: #313131;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    transform: rotateY(180deg);
}

.card__front--city { 
    color: white;
    font-size: 2rem;
    text-shadow: 4px 4px 2px #000000;
}

.card__back--title{
    color: #ffffff;
    font-size: 1.5rem;
}
.card__back--text{
    color: #999999;
    font-size: 1rem;
}

.pricing__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F0F4F7;
}

.pricing__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.pricing__plan{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%
}

.pricing__info-title {
    color: #6e768d;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin: 10px;
}

.pricing__info--subtitle {
    color: #b4bdc6;
    font-size: 1rem;
}

hr {
opacity: 0;
}

.pricing__plan-bronze-gold-platinum {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #ffffff;
    margin: 1rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    color: #717787
}

.pricing__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.pricing__plan--name{
    display: flex;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.dollar__price__month{
    display: flex;
    /* gap:0.2rem */
}

.dollar{
    font-size: 0.7rem;
    align-self: flex-start;
}

.price{
    font-size: 2rem;
    align-self: flex-start;
}

.month{
    font-size: 0.7rem;
    align-self: flex-end;
}

.checks__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.checks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.green__check {
    display: flex;
    width: 1.25rem ;
    height: 1.25rem ;
    border-radius: 50%;
    background-color: #74ce6a;
    color: #ffffff;
    justify-content: center;
    align-content: center;

}

.get__button{
    border: none;
    background-color: #71ce73;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    width: 50vw;
    box-shadow: 0px 6px 0px 0px #66ac64;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.get__button:hover {
    box-shadow: none;
}

.blue__circle {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #3bbdee;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    position: absolute;
    left: 10px;
    top: -10px;

}


@media screen and (min-width:481px) {

    .cards{
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
    }

    .card__one{
        max-width: 400px;
    }

    .card__two{
        max-width: 400px;
    }

    .card__three{
        max-width: 400px;
    }

    .pricing__info-title {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 15px;
    }
    
    .pricing__info--subtitle {
        font-size: 1.8rem;
    }

    .pricing__plan-bronze-gold-platinum {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1.5rem;
    }

    .checks__container{
        display: flex;
        flex-direction: column;
    }

    .get__button {
        width: 30vh;
        margin-top: 2rem;
    }

    .pricing__info {
        font-size: 2rem;
    }

}

@media screen and (min-width:1025px){

    .pricing__info-title {
        font-size: 3.5rem;
    }

    .pricing__plan {
        flex-direction: row;
        margin-top: 1.5rem;
    }

    .pricing__plan-bronze-gold-platinum{
        flex-direction: column;
        position: relative;
    }

    .checks__container {
        border-bottom: 2px gray;
    }


    .blue__circle {
        left: auto;
        right: 10px;
        top: -35px;
    }

    .pricing__info {
        font-size: 2rem;
    }

    .pricing__plan-bronze-gold-platinum:hover{
        transform: scale(1.08);
        transition: 0.3s linear;
}


.pricing__plan-bronze-gold-platinum:hover > .blue__circle {
    transform: rotateY(360deg);
    transition: 0.5s ease;
}

hr {
opacity: 1;
color: lightgray;
width: 200px;
margin: 20px 0px;
}

} 

